<p>multiplication works!</p>
<form action=""[formGroup]="form" (ngSubmit)="multiplyNum()">
    <div class="mb-3">
        <input type="text" formControlName="num1" class="form-control">
        <div *ngIf="form.get('num1')?.touched && form.get('num1')?.invalid" class="alert alert-danger" >Invalid Number1 </div>
    </div>
    <div class="mb-3">
        <input type="text" formControlName="num2" class="form-control">
       <div><div *ngIf="form.get('num2')?.touched && form.get('num2')?.invalid" class="alert alert-danger">Invalid Number1</div></div>
    </div>
     <button type="submit" class="btn btn-info">Multiply</button>
</form>
