<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 300px; height: 100%;">
                <img src="{{product.image}}" class="card-img-top" alt="" width="200px" height="300px">
                <div class="card-body">
                  <h5 class="card-title">Title : {{product.title}}</h5>
                  <p class="card-text">Description :{{product.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Price : {{product.price}}/-</li>
                  <li class="list-group-item">Category : {{product.category}}</li>
                  <li class="list-group-item">Rating : {{product.rating.rate}},Count : {{product.rating.count}}</li>
                </ul>
            </div>
        </div>
        <div class="col-4" >
          <form action="" [formGroup]="form" (ngSubmit)="addReview()">
            <div class="mb-3">
              <input type="text" class="form-control" formControlName="comment">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" formControlName="rating">
            </div>
            <div class="mb-3">
              <button type="submit">Review</button>
            </div>
          </form>

        </div>
    </div>
</div>
