<div class="container mb-3" >
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{country.flag}}" class="card-img-top" alt="" width="200px" height="200px">
                <div class="card-body">
                  <h5 class="card-title">Country : {{country.name}}</h5>
                  <p class="card-text">Alpha2Code : {{country.alpha2Code}}</p>
                  <p class="card-text">Alpha3Code : {{country.alpha3Code}}</p>
                  <p class="card-text">CallingCodes : {{country.callingCodes}}</p>
                  <p class="card-text">Capital : {{country.capital}}</p>
                  <p class="card-text">Currencies : {{country.currencies}}</p>
                  <p class="card-text">AltSpellings : {{country.altSpellings}}</p>
                  <p class="card-text">Population : {{country.population}}</p>
                  <p class="card-text">Region : {{country.region}}</p>
                  <p class="card-text">latlng : {{country.latlng}}</p>
                  <p class="card-text">Demonym : {{country.demonym}}</p>
                  <p class="card-text">Area : {{country.area}}</p>
                  <p class="card-text">Timezones : {{country.timezones}}</p>
                  <p class="card-text">NumericCode : {{country.numericCode}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Borders : {{country.borders}}</li>
                  <li class="list-group-item">NativeName : {{country.nativeName}}</li>
                  <li class="list-group-item"></li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>